* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    background: url('./photos&videos/african-male-plumber-fixing-sink-pipe-kitchen-124519826.webp') no-repeat center center fixed;
    /* background-size: cover; */
}


header {
    background-color: aliceblue;
    /* Background-image: linear-gradient(270deg, #23464d 30%, #6fffe9 70%); */
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 20px #324438ad;
    height: 100px;
}

nav {
    display: flex;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: #0f1010;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #6fffe9;
}

.logo img {
    height: 50px;
    border-radius: 5px;
}

.navbar {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 4rem;
}

.navbar a {
    text-decoration: none;
    color: rgb(11, 2, 2);
    font-weight: bold;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.profile-text {
    color: rgb(15, 9, 9);
    font-weight: 500;
    font-size: 14px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-text {
    color: rgb(61, 51, 51);
    font-weight: 500;
    font-size: 14px;
    font-weight: bold;
}

.one {
    text-decoration: none;
}

.overlay {
    backdrop-filter: blur(2px);
    padding: 2rem;
    border-radius: 10px;
    max-width: 800px;
    margin: 2rem auto;
}

.wrap {
    max-height: 62vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: rgb(32, 40, 39);
    margin-bottom: 30px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    width: 100%;
    max-width: 300px;
    backdrop-filter: blur(5px);
}

.booking-button {
    padding: 1rem;
    background-color: #6fffe9;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(62, 60, 60);
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(2px);
}

.booking-button:hover {
    background-color: #6fffe9;
    color: #fff;
    border-color: #c19a6b;
}


/* styling the foooter */
.footer {
   margin: 10px;
   display: flex;
   flex: 1 1 100%;
   justify-content: space-between;
   margin-left: 100px; 
   margin: 0 auto;
   margin-top: 80px;
   padding: 40px;
   cursor: pointer;
   background: #071629;
   /* background-color: rgba(0, 0, 0, 0.826); */
   text-align: center;
   width: 90%;
}

.footer li {
   list-style: none;
   padding: 15px 15px;
   text-decoration: none;
}

.footer li a:hover {
   color: #19876f;
}

.footer1, .footer2, .footer3 {
   display: flex;
   flex-direction: column;
}

.footer1 {
   color: rgba(255, 255, 255, 0.811);
   font-weight: bolder;
   font-size: 18px;
   text-align: center;
}

.f1 a {
   color: rgba(255, 255, 255, 0.358);
   font-size: 14px;
}

.footer2 {
    color: rgba(255, 255, 255, 0.709);
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
}

.f2 a {
    color: rgba(255, 255, 255, 0.358);
    font-size: 14px;  
}

.footer3 {
    color: rgba(255, 255, 255, 0.709);
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
}

.f3 a {
    color: rgba(255, 255, 255, 0.358);
    font-size: 14px;  
}

.footer4 {
    color: rgba(255, 255, 255, 0.709);
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.f4 a {
color: white;
}

.f4 li  {
   display: flex;
   justify-content: center;
}

.f4 li a {
   padding: 10px;
   background-color:#19876f;
   border-radius: 50px;
   margin: 5px;
   color: white;
}

/* changing the highlight colour */
*::selection {
    background: rgba(28, 9, 3, 0.896); 
}
 
/* changing the hover colour of the footer to fit the theme */
.footer li a:hover {
    color:#19876f;
}

.line{
   position: absolute;
}

.pfoot {
   color: #dadce3;
}
